spring:
  profiles:
    active: native
  security:
    user:
      name: ${CONFIG_USER}
      password: ${CONFIG_PASSWORD}
  application:
    name: FluxConfigService
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations

management:
  endpoints:
    web:
      exposure:
        include: health,info