server:
  port: ${PORT:8888}
spring:
  profiles:
    active: native
  security:
    user:
      name: maxvpire
      password: h(wuP}}&R8Jk1RT/0$5KBT$yw00
  application:
    name: FluxConfigService
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations

management:
  endpoints:
    web:
      exposure:
        include: health,info